<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>

    </style>
</head>
<body>
<div id="app">
    <!--v-if一般赋予布尔值,也可以赋值变量-->
    <h1 v-if="false">{{message}}</h1>
    <h1 v-if="isshow">{{message}}</h1>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            message: '你好啊',
            isshow:true
        }
    })
</script>
</html>